source https://api.nuget.org/v3/index.json
framework: net8.0
storage: none


nuget FSharp.Core
nuget Microsoft.Extensions.Configuration
nuget Microsoft.Extensions.DependencyInjection
nuget Microsoft.Extensions.Hosting
nuget Microsoft.Extensions.Hosting.WindowsServices
nuget Serilog
nuget Serilog.Extensions.Hosting
nuget Serilog.Settings.Configuration
nuget Serilog.Sinks.Console
nuget Serilog.Sinks.File
nuget FSToolkit.ErrorHandling
